body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #E0E0E0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 360px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.979);
    border-radius: 15px;
    padding: 25px 35px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.countdown-timer-text {
    font-size: 4.5rem;
    font-weight: bold;
    color: #54a354;
    letter-spacing: 2px;
}

.info-text {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #e0e0e0;
}